html,
body,
.container {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%
}

@font-face {
    font-family: "roboto";
    src: url(assets/fonts/roboto/Roboto-Regular.ttf);
    src: url(assets/fonts/roboto/Roboto-Regular.ttf) format("truetype")
}

@font-face {
    font-family: "roboto";
    font-weight: bold;
    src: url(assets/fonts/roboto/Roboto-Bold.ttf);
    src: url(assets/fonts/roboto/Roboto-Bold.ttf) format("truetype")
}

:root {
    --blue: #0284c7;
    --content: #6b7280;
    --grey: #e1e8ec;
    --orange: #f5b70b;
    --shadow: rgb(192, 192, 192, 0.3)
}

.container {
    display: grid;
    font-family: "roboto", Arial, Helvetica, sans-serif;
    grid-template-columns: minmax(200px, 1fr) minmax(800px, 4fr);
    grid-template-rows: minmax(180px, 20%) minmax(720px, 80%)
}

.sidebar {
    align-content: start;
    align-items: center;
    background-color: var(--blue);
    color: white;
    display: grid;
    font-size: 20px;
    font-weight: bold;
    gap: .8em;
    grid-row: 1 / -1;
    grid-template-columns: 36px 1fr;
    justify-content: center;
    justify-items: start;
    padding: 1rem
}

.sidebar .mdi {
    justify-self: center;
    margin-bottom: .2em;
    padding: 0
}

.sidebar .br {
    grid-column: 1/3
}

.dashboard {
    font-size: 28px;
    gap: .3rem
}

.mdi-view-dashboard {
    font-size: 48px
}

.nav {
    box-shadow: 0 5px var(--shadow);
    display: grid;
    font-weight: bold;
    gap: 1rem;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 1rem 3rem;
    z-index: 1
}

.searchbar {
    align-items: center;
    display: flex;
    justify-content: start
}

.mdi-magnify {
    font-size: 24px;
    padding-right: .5rem
}

#bar {
    background-color: var(--grey);
    border: none;
    border-radius: 20px;
    flex: 1;
    font-size: 24px;
    padding: .3rem 1rem
}

.contents {
    background-color: var(--grey);
    display: grid;
    gap: 18px;
    grid-row: 2/3;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    padding: 2rem 1rem
}

.projects,
.announcements,
.trending {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

.card,
.a_cards,
.trends {
    background-color: white;
    border-radius: 5px
}

.projects {
    grid-row: 1/3;
}

.widgets {
    align-items: center;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    gap: 1rem;
    justify-content: end;
    padding: 1rem
}

.mdi-bell-ring-outline {
    font-size: 20px
}

.mini_pic {
    border-radius: 50%;
    height: 36px;
    overflow: hidden;
    width: 36px
}

.mini_pic img {
    height: inherit;
    object-fit: cover;
    width: inherit
}

.headers {
    align-items: center;
    display: flex
}

.profile_pic {
    border-radius: 50%;
    height: 80px;
    margin-right: 1em;
    overflow: hidden;
    width: 80px
}

.profile_pic img {
    height: inherit;
    object-fit: cover;
    width: inherit
}

.hi,
.hi p {
    font-size: 12px;
    margin: 0;
    padding: 0
}

.hi h2 {
    font-size: 24px;
    margin-bottom: 0;
    margin-top: .3rem;
    padding: 0
}

.buttons {
    align-items: center;
    display: flex;
    gap: 1.5rem;
    justify-content: end
}

.buttons button {
    background-color: var(--blue);
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 14px;
    font-weight: inherit;
    height: 40px;
    width: 90px
}

.cards {
    display: grid;
    flex: 1;
    gap: 24px;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    grid-template-rows: repeat(3, minmax(200px, 1fr))
}

.card {
    border-left: 8px solid var(--orange);
    box-shadow: 3px 5px var(--shadow);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    padding: 1rem 1rem 0;
    z-index: 1
}

.a_cards {
    align-content: center;
    align-items: center;
    box-shadow: 3px 5px var(--shadow);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 1rem;
    margin-bottom: 1rem;
}

.a_card {
    border-bottom: 1px solid var(--shadow);
    padding-bottom: 10px;
}

.a_card:last-child {
    border-bottom: none
}

.a_title {
    font-size: 12px;
    font-weight: bold;
    padding-bottom: .2rem
}

.a_content {
    color: var(--content);
    font-size: 10px;
    padding-bottom: 1rem;
}

.title {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: .8rem
}

.p_title {
    align-self: end;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 3px
}

.p_buttons {
    display: flex;
    gap: 20px;
    justify-content: end;
    padding: 0
}

.content {
    color: var(--content);
    font-size: 12px
}

.trends {
    align-content: center;
    align-items: center;
    box-shadow: 3px 5px rgb(192, 192, 192, 0.3);
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(4, 1fr);
    justify-content: start;
    justify-items: start;
    padding: 1rem
}

.trends .mini_pic {
    justify-self: end
}

.handle,
.bio {
    font-size: 12px
}

.handle {
    padding-bottom: .2rem
}

.bio {
    color: var(--content)
}