html,
body,
.container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: "roboto";
    src: url(assets/fonts/roboto/Roboto-Regular.ttf);
    src: url(assets/fonts/roboto/Roboto-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "roboto";
    src: url(assets/fonts/roboto/Roboto-Bold.ttf);
    src: url(assets/fonts/roboto/Roboto-Bold.ttf) format("truetype");
    font-weight: bold;
}

:root {
    --blue: #0284c7;
    --grey: #e1e8ec;
    --orange: #f5b70b;
    --content: #6b7280;
    --shadow: rgb(192, 192, 192, 0.3);
}

.container {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) minmax(800px, 4fr);
    grid-template-rows: minmax(180px, 20%) minmax(720px, 80%);
    font-family: "roboto", Arial, Helvetica, sans-serif;
}

.sidebar {
    background-color: var(--blue);
    grid-row: 1 / -1;
    color: white;
    font-weight: bold;
    display: grid;
    align-content: start;
    align-items: center;
    padding: 1rem;
    gap: 0.8em;
    font-size: 20px;
    grid-template-columns: 36px 1fr;
    justify-content: center;
    justify-items: start;
}

.sidebar .mdi {
    justify-self: center;
    padding: 0;
    margin-bottom: 0.2em;
}

.sidebar .br {
    grid-column: 1/3;
}

.dashboard {
    font-size: 28px;
    gap: 0.3rem;
}

.mdi-view-dashboard {
    font-size: 48px;
}

.nav {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 1rem 3rem;
    gap: 1rem;
    font-weight: bold;
    box-shadow: 0 5px var(--shadow);
    z-index: 1;
}

.searchbar {
    display: flex;
    justify-content: start;
    align-items: center;
}

.mdi-magnify {
    font-size: 24px;
    padding-right: 0.5rem;
}

#bar {
    flex: 1;
    background-color: var(--grey);
    padding: 0.3rem 1rem;
    border-radius: 20px;
    border: none;
    font-size: 24px;
}

.contents {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row: 2/3;
    background-color: var(--grey);
    padding: 2rem 1rem;
    gap: 18px;
    justify-content: space-between;
}

.card,
.a_cards,
.trends {
    background-color: white;
    border-radius: 5px;
}

.projects {
    grid-row: 1/3
}

.widgets {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    font-size: 18px;
    font-weight: bold;
}

.mdi-bell-ring-outline {
    font-size: 20px;
}

.mini_pic {
    height: 36px;
    width: 36px;
    overflow: hidden;
    border-radius: 50%;
}

.mini_pic img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.headers {
    display: flex;
    align-items: center;
}

.profile_pic {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1em;
}

.profile_pic img {
    height: inherit;
    width: inherit;
    object-fit: cover;
}

.hi,
.hi p {
    font-size: 12px;
    padding: 0;
    margin: 0;
}

.hi h2 {
    margin-top: 0.3rem;
    margin-bottom: 0;
    padding: 0;
    font-size: 24px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1.5rem;
}

.buttons button {
    background-color: var(--blue);
    border: none;
    border-radius: 20px;
    font-size: 14px;
    color: white;
    font-weight: inherit;
    width: 90px;
    height: 40px;
}

.cards {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    grid-template-rows: repeat(3, minmax(200px, 1fr))
}

.card {
    padding: 1rem;
    box-shadow: 3px 5px var(--shadow);
    z-index: 1;
    border-left: 8px solid var(--orange);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 1fr;
}

.a_cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-content: space-around;
    align-items: start;
    padding: 1rem;
    box-shadow: 3px 5px var(--shadow);
}

.a_card {
    border-bottom: 1px solid var(--shadow);
    padding-bottom: 10px;
    padding-top: 10px;
}

.a_card:last-child {
    border-bottom: none;
}

.a_title {
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 0.2rem;
}

.a_content {
    font-size: 10px;
    color: var(--content);
}

.title {
    font-size: 18px;
    padding-bottom: 0.8rem;
    font-weight: bold;
}

.p_title {
    font-size: 15px;
    font-weight: bold;
    align-self: end;
    padding-bottom: 3px;
}

.p_buttons {
    display: flex;
    justify-content: end;
    gap: 20px;
    padding: 0;
}

.content {
    font-size: 12px;
    color: var(--content);
}

.trends {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(4, 1fr);
    padding: 10px;
    box-shadow: 3px 5px rgb(192, 192, 192, 0.3);
}