html,body {
    padding:1rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap:1rem;
    height: max(500px, 100vh);
    width: max(500px,100vh);
    background-color: black;
    color: aliceblue;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: max(50vh,360px);
    width: max(50vh,360px)
}

.square {
    background-color: lightgrey;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 10vh;
    color:inherit;
}

.win {
    color: green;
}

.players{
    display:grid;
    grid-template-columns: 1fr 1fr;
    width:100%;
    justify-items: space-around;
    font-size: 24px;
    gap:2rem;
}

.players>div{
    display: flex;
    font-weight: 700;
    justify-content: space-around;
}

.result{
    height:3rem;
    font-size: 2rem;
}