body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    background-color: blueviolet;
    font-size: 100px;
    padding: 16px;
}

.bookshelf {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    align-items: last baseline;
    max-width: 900px;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-height: 250px;
    padding: 1em;
    gap: 1em;
    background-color: #EEEEEE;
    flex: 1;
    text-align: center;
}

.title {
    flex: 3;
    font-size: 24px;
    font-weight: bold;
}

.otherInfo {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-around;
    align-items: flex-start;
    padding: 5%
}

.author {
    flex: auto;
}

.pages {
    flex: auto;
}

.read {
    flex: auto
}

button {
    flex: 1;
    padding: 0.5em 1em;
}