body {
    display: flex;
    flex-direction: column;
    height: max(100vh, 480px);
    width: max(100vw, 480px);
}

:root {
    --b-color: rgb(71, 60, 60);
    --b-color-text: aliceblue;
    --b-color-body: blanchedalmond;
    --b-color-book: rgb(210, 190, 190);
    --book-text: rgb(75, 69, 69);
}

.header {
    display: flex;
    font-size: 36px;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: var(--b-color);
    color: var(--b-color-text);
}

.logo {
    flex: 1;
}

.new-book>button {
    background-color: var(--b-color-text);
    color: var(--b-color);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}

.new-book>button:hover {
    background-color: var(--b-color-body);
    color: var(--b-color);
    cursor: pointer;
}

.new-book>button:active {
    position: relative;
    left: 1px;
    top: 1px
}

.body {
    flex: 1 1 auto;
    background-color: var(--b-color-body);
}

.footer {
    display: flex;
    background-color: var(--b-color);
    color: var(--b-color-text);
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.books {
    display: grid;
    padding: 1rem;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
    grid-auto-rows: 250px;
    justify-content: center;
    padding: 1rem;
}

.book {
    border: 2px solid var(--b-color);
    padding: 3px 5px;
    display: grid;
    grid-template-rows: 20px 1fr;
    border-radius: 0.5rem;
    box-shadow: 3px 3px var(--b-color);
    background: linear-gradient(225deg, black, var(--b-color));
    color: var(--b-color-text);
}

.delete-book {
    position: relative;
    left: 3px;
    bottom: 3px;
    justify-self: right;
}

.delete-book>button {
    background-color: transparent;
    font-size: 18px;
    font-weight: 700;
    border: none;
    color: var(--b-body-text);
}

.delete-book>button:hover {
    cursor: pointer;
    font-weight: 1000;
}

.delete-book>button:active {
    position: relative;
    top: 2px;
    left: 2px;
}

.info {
    padding: 0 1rem;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    gap: 0.3rem;
    font-size: 15px;
}

.info .title {
    font-size: 24px;
    font-weight: 700;
    justify-self: center;
    text-align: center;
    align-self: center;
}

.info .author {
    font-style: italic;
    justify-self: center;
    font-size: 18px;
}

.info .pages {
    align-self: end;
}

.info .read {
    display: grid;
    align-items: baseline;
    grid-template-columns: 1fr 1fr 1fr;
}

.read span {
    padding-right: 5px;
}

.read div {
    padding-right: 3px;
}